{% extends "layout.html" %}


{% block title %} 新建栏目 {% endblock %}


{% block body %}
    
<div class="middle-banner">
    <div class="container">
        <h1 class="page-title yahei">新建栏目</h1>
    </div>
    <div class="container content">
        <div class="row-fluid">
            <div class="left-col">
                <form method="POST" action="{{ url_for('news.category_create') }}">
                    <legend>新建栏目</legend>
                    {{ form.hidden_tag() }}
                    {{ form.name.label }}
                    {{ form.name }}
                    <hr/>
                    <input type="submit" class="btn btn-primary" value="保存"/>
                     <a href="{{ url_for('news.list') }}" class="btn btn-warning">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}