                    <ul class="nav nav-list">
                        <li class="nav-header yahei">新闻动态</li>
                        {% for cate in categories %}
                        <li{% if (news and cate == news.category) or (category and category == cate) %} class="active"{% endif %}>
                            <a href="{{ url_for('news.category', id=cate.id, page=1) }}"><i></i>{{ cate.name }}</a>
                        </li>
                        {% endfor %}
                        {% if current_user.is_editor %}
                        <li><a href="{{ url_for('news.news_create') }}"><i></i>添加新闻</a></li>
                        {% endif %}
                    </ul>