{% extends "layout.html" %}


{% block title %} 新增新闻{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/redactor/redactor.css') }}" />
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='lib/redactor/langs/zh_CN.js') }}"></script>
<script src="{{ url_for('static', filename='lib/redactor/redactor.min.js') }}"></script>
<script type="text/javascript"> 
    $(document).ready(
        function()
        {
            $('textarea#content').redactor(
                {
                    imageUpload: '/rd/upload',
                    imageGetJson: '/rd/upload',
                    lang: 'zh_cn'
                }
            );
        }
    );
</script>

{% endblock %}

{% block body %}

<div class="middle-banner">
    <div class="container">
        <h1 class="page-title yahei">新增新闻</h1>
    </div>
    <div class="container content">
        <div class="row-fluid">
            <div class="left-col">
                <form method="POST" action="{{ url_for('news.news_create') }}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form.title.label }}
                    {{ form.title }}
                    {{ form.excerpt.label }}
                    {{ form.excerpt }}
                    {{ form.category.label }}
                    {{ form.category }}
                    {{ form.content.label }}
                    {{ form.content|safe }}
                    {{ form.upload.label }}
                    {{ form.upload }}
                    <span class="help-block">请使用580*150的图. 如果是首页滚动新闻，请用960*350.</span>
                    <hr/>
                    <input type="submit" class="btn btn-primary" value="保存"/>
                    <a href="{{ url_for('news.list') }}" class="btn btn-warning">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}