{% extends "layout.html" %}


{% block title %}{{ news.title }}{% endblock %}
{% block body %}
    <div class="middle-banner">
        <div class="container">
            <h1 class="page-title yahei">{{news.category}}</h1>
        </div>
        <div class="container content">
            <div class="row-fluid">
                <div class="span8 left-col">
                    <div class="news-item">
                        <img src="{{ news.get_cover() }}" class="img-polaroid"/>
                        <h5><i>{{ news.category }}</i> <a href="{{ url_for('news.view', id=news.id) }}">{{ news.title }}</a></h5>
                        <blockquote>{{ news.excerpt }}</blockquote>
                        
                        <div class="news-content">{{ news.content|safe }}</div>
                        <hr/>
                        <div class="desc">
                            <i class="icon-user"></i><a href="">{{ news.user }}</a> <i class="icon-calendar"></i> {{ news.created|timesince }}
                            <div class="pull-right news-tool">
                                <a href="{{ url_for('news.news_edit', id=news.id) }}"><i class="icon-edit"></i>编辑</a> 
                                <a href="{{ url_for('news.news_delete', id=news.id) }}" class="need-confirm"><i class="icon-trash"></i>删除</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 right-col">
                    {% include "news/category.html" %}
                    
                    {% include "page/right-tab.html" %}
                    
                    {% include "fg_address.html" %}
                </div>
            </div>
        </div>
    </div>
    
    
    {% include 'system_static.html' %}
    
{% endblock body %}