{% extends "layout.html" %}


{% block title %} 用户登录{% endblock %}
{% block body %}

<div class="container">
    <div class="row-fluid">
        <form method="POST" action=".">
            <legend>用户登录</legend>
            {{ form.hidden_tag() }}
            {{ form.next }}
            <label>{{ form.username.label }}</label>
            {{ form.username(size=15) }}
            <label>{{ form.password.label }}</label>
            {{ form.password(size=15) }}
            <label>{{ form.remember.label }}</label>
            {{ form.remember(class_="checkbox") }}
            <hr/>
            {{ form.submit(class_="btn") }}
        </form>
    </div>
</div>
    
{% endblock %}