{% extends "layout.html" %}


{% block title %}{{ page.title }}{% endblock %}
{% block body %}
    <div class="middle-banner">
        <div class="container">
            <h1 class="page-title yahei">{{ page.title }}</h1>
        </div>
        <div class="container content">
            <div class="row-fluid">
                <div class="span8 left-col">
                    <div class="main-content">
                        <img src="http://placekitten.com/580/200" class="img-polaroid"/>
                        <hr/>
                        {% autoescape false %}
                        {{ page.content }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="span4 right-col">
                    <div class="right-content">
                        <ul class="nav nav-list">
                            <li class="nav-header yahei">关于富光</li>
                            {% for page in object.query.filter_by(type='about') %}
                            <li{% if page.code in request.path and 'page.about' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('page.about', code=page.code) }}"><i></i>{{ page.title }}</a></li>
                            {% endfor %}
                            <li><i></i><a href="{{ url_for('news.list') }}">新闻动态</a></li>
                            {% if current_user.is_editor %}
                            <li><i></i><a href="{{ url_for('page.edit', id=page.id) }}">编辑本页</a></li>
                            {% endif %}
                        </ul>
                        
                        {% include "page/right-tab.html" %}
                        
                        {% include "fg_address.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'system_static.html' %}
    
{% endblock body %}