    <div class="system">
        <div class="container border-line">
            <div class="row-fluid">
                <div class="span4">
                    <h4 class="yahei">邮箱登录</h4>
                    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://exmail.qq.com/zh_CN/htmledition/js_biz/outerlogin.js" charset="gb18030"></script>
                    <div id="divLoginpanelHor"><div class="bizmail_LoginBox">
                    <form name="form1" action="https://exmail.qq.com/cgi-bin/login" target="_blank" method="post" onsubmit="return checkInput()">
                        <label class="control-label" for="uin">用户名:</label>
                        <input type="text" placeholder="用户名" id="uin" name="uin">
                        <label class="control-label" for="password">密码:</label>
                        <input type="password" id="password" placeholder="密码" name="pwd">
                        <hr>
                        <button type="submit" class="btn">登录</button>
                        <a href="https://exmail.qq.com/cgi-bin/readtemplate?check=false&amp;t=bizmail_orz" target="_blank">忘记密码？</a>
                        <input type="hidden" name="firstlogin" value="false">
                        <input type="hidden" name="errtemplate" value="dm_loginpage">
                        <input type="hidden" name="aliastype" value="other">
                        <input type="hidden" name="dmtype" value="bizmail">
                        <input type="hidden" name="p" value="">
                        <input type="hidden" name="domain" value="fuguang.cn">
                      </form>
                    </div></div>
                </div>
                <div class="span4">
                    <h4 class="yahei">君子兰实业</h4>
                    
                </div>
                <div class="span4">
                    <iframe width="280" height="300"  frameborder="0" scrolling="no" src="http://widget.weibo.com/list/list.php?language=zh_cn&width=280&height=300&listid=441765925&uname=%E6%9D%A8%E6%8C%AF%E5%AE%87_&color=&showcreate=0&isborder=0&showtitle=0&appkey=&uid=1992727263&listname=%E5%AF%8C%E5%85%89%E5%BE%AE%E5%8D%9A&dpc=1"></iframe>
                </div>
            </div>
        </div>
    </div>