{% extends "layout.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='redactor/redactor.css') }}" />
<script src="{{ url_for('static', filename='redactor/langs/zh_CN.js') }}"></script>
<script src="{{ url_for('static', filename='redactor/redactor.min.js') }}"></script>

<script type="text/javascript"> 
	$(document).ready(
		function()
		{
			$('#redactor').redactor(
                            {
                                imageUpload: '/rd/upload',
                                imageGetJson: '/rd/upload',
                                lang: 'zh_cn'
                            }
                        );
		}
	);
</script>

{% endblock %}

{% block title %}编辑页面: {{ item.title }}{% endblock %}
{% block body %}
	<div class="container">
		<form method="POST" action="">
			<legend>编辑</legend>
			{{ form.hidden_tag() }}
			
			{{ form.code.label }}
			{{ form.code() }}
			{{ form.title.label }}
			{{ form.title }}
			{{ form.type.label }}
			{{ form.type }}
			{{ form.keyword.label }}
			{{ form.keyword }}
			{{ form.content.label }}
			{{ form.content(id='redactor',class_='xlarge') }}
			<div class="form-actions">
				{{ form.submit(class_='btn btn-primary') }}
			</div>
		</form>
	</div>
{% endblock body %}