<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		{% block head %}
		<title>{% block title %}{% endblock %} - 富光实业</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" />
		<script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
		{% endblock %}
	</head>
	<body>
	    
            <div id="header_wrapper">
            <div class="container clearfix">
                <div id="header">
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <div class="container">
                                <div class="nav">
                                    <a href="{{ url_for('index') }}"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"></a>
                                    <ul class="nav">
                                        <li {% if 'index' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('index') }}">首页</a></li>
                                        <li class="dropdown{% if request.endpoint in ['about', 'news'] %} active{% endif %}">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                富光
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li{% if 'fuguang' in request.path and 'about' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('about', code='fuguang') }}">关于富光</a></li>
                                                <li{% if 'history' in request.path and 'about' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('about', code='history') }}">富光历史</a></li>
                                                <li{% if 'philosophy' in request.path and 'about' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('about', code='philosophy') }}">富光理念</a></li>
                                                <li{% if 'honor' in request.path and 'about' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('about', code='honor') }}">荣誉资质</a></li>
                                                <li class="divider"></li>
                                                <li{% if 'news' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('news') }}">新闻动态</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li class="dropdown{% if 'brand' == request.endpoint %} active{% endif %}">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                旗下品牌
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li{% if 'fuguang' in request.path and 'brand' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('brand', code='fuguang') }}">富光</a></li>
                                                <li{% if 'FGA' in request.path and 'brand' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('brand', code='fga') }}">FGA</a></li>
                                                <li{% if 'teamaster' in request.path and 'brand' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('brand', code='teamaster') }}">茶马士</a></li>
                                                <li{% if 'bestjoy' in request.path and 'brand' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('brand', code='bestjoy') }}">拾喜</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li {% if 'product' in request.endpoint %} class="active"{% endif %}><a href="{{ url_for('product') }}">产品中心</a> </li>
                                        
                                        <li {% if 'sales' in request.endpoint %} class="active"{% endif %}><a href="{{ url_for('sales') }}">销售网络</a> </li>
                                        
                                        <li {% if 'service' in request.endpoint %} class="active"{% endif %}><a href="{{ url_for('service') }}">客户服务</a> </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id="slide">
					<a href="/"><img src="http://placehold.it/930x180" alt="" class="img-polaroid"></a>
				</div>
            </div>
        </div>
		{% block body %}
		
		{% endblock %}
		
		
	</body>
</html>